<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid yellow-bottom-border">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag 'logos/smtc-logo.png' %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- LHS nav -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= set_current_page_by_controller_and_action({controller: "home", action: "home"}) %>"><%= link_to "HOME", root_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT THE SMTC<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">HISTORY OF THE CLUB</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">SUPPORTERS & THANK YOUS</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">USEFUL LINKS</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RIDE THE CRESTA<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">BEGINNERS</a></li>
            <li><a href="#">SUPPLEMENTARY LIST</a></li>
            <li><a href="#">INSURANCE</a></li>
            <li><a href="#">TERMS & CONDITIONS</a></li>
          </ul>
        </li>

        <li class=""><a href="#">EVENTS & RACES</a></li>
        
        <li class=""><a href="#">MEDIA</a></li>
        <li class="<%= set_current_page_by_controller_and_action({controller: "home", action: "contacts"}) %>"><%= link_to "CONTACTS", contacts_path %></li>
      </ul>

      <!-- RHS nav -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if true %>
            <a href="/members">MEMBERS</a>
          <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MEMBERS<span class="caret"></span></a>
            <ul class="dropdown-menu login-nav">
              <li>
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                      <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                        <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> keep me logged-in
                        </label>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>