<div class="hero-image contacts-hero">
  <h1 class="hero-title">Contacts</h1>
</div>
<div class="container section-wrapper">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <p>Most of the information for <%= link_to "Riding the Cresta", "#" %>, <%= link_to "About the Club", "#" %> or our <%= link_to "Events and Races", "#" %> can be found in their respective pages, we also have an <%= link_to "FAQs", "#" %> section that is regularly updated.</p>
      <p>However, if you can't find the information you are looking for please don't hesitate to contact us.</p>
      <div class="contacts-area">
        <p class="contact-name">Lady Brabazon of Tara</p>
        <p class="contact-title">Membership Secretary</p>
        <p class="contact">Email: <a href="mailto:harriet.brabazon@cresta-run.com">harriet.brabazon@cresta-run.com</a></p>
      </div>
      <div class="contacts-area">
        <p class="contact-name">Ryan Larraman</p>
        <p class="contact-title">Videos & Photography</p>
        <p class="contact">Email: <a href="mailto:ryan@crestaphotos.com">ryan@crestaphotos.com</a></p>
        <p class="contact">Web: <a href="//crestaphotos.com">www.crestaphotos.com</a></p>
        <p class="contact">Web: <a href="//crestaclips.com">www.crestaclips.com</a></p>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <h3>Quick Links</h3>
      <ul>
        <li><%= link_to "Events & Races", "#" %></li>
        <li><%= link_to "Terms & Conditions", "#" %></li>
        <li><%= link_to "Insurance", "#" %></li>
      </ul>
    </div>
  </div>
</div>